.dashboard-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.goal-card {
  background: #fff;
  padding: 40px;
  border-radius: 22px;
  box-shadow: 0px 6px 30px rgba(0,0,0,0.05);
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: 250px; 
  padding: 40px 20px;
}

.empty-state h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.empty-state p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}

.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: #666;
}

.welcome-text {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.goal-info {
  margin-top: 20px;
}

.goal-section {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

.value {
  font-size: 22px;
  font-weight: 700;
  margin-top: 5px;
}

.goal-title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 25px;
}

.goal-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.progress-section {
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  height: 7px;
  background: #e8e9ee;
  border-radius: 10px;
  margin-top: 8px;
}

.fill {
  height: 7px;
  background: #4fa3ff;
  border-radius: 10px;
  transition: width 0.4s ease;
}

.details-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.detail-box {
  width: 45%;
}

.detail-label {
  font-weight: 700;
  margin-bottom: 5px;
}

.detail-value {
  font-size: 18px;
  color: #444;
}

.green {
  color: #1a8a34;
  font-weight: bold;
}
.btn {
  background-color: #005eb8;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #006edc;
}

.delete-btn {
  margin-top: 20px;
  background: #e11d48; 
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600;
}

.delete-btn:hover {
  background: #be123c; 
}
