<header class="home-header">
  <div class="home-header-left">
    <img src="/logo.png" alt="PlanIt Wise Logo" class="home-header-logo">
    <h2 class="home-header-title">PlanItWise</h2>
  </div>

  <nav class="home-nav">

    <ng-container *ngIf="!isLoggedIn && !isAuthPage">
      <a routerLink="/login">Log In</a>
      <button class="auth-primary-btn" routerLink="/signup">
        Get Started
      </button>
    </ng-container>


    <ng-container *ngIf="isLoggedIn">
      <button class="auth-primary-btn" (click)="logout()">
        Logout
      </button>
    </ng-container>

  </nav>
</header>
