<div class="home-page">

  <section class="home-hero">
    <h1>
      Turn Your Financial Dreams into 
      <span class="home-hero-highlight">Achievable Plans</span>
    </h1>

    <p>
      PlanIt Wise helps you plan goals, save smarter, and stay on track.
    </p>

    <div class="home-hero-btn">
      <button class="auth-primary-btn" routerLink="/signup">
        Start Planning Now →
      </button>
    </div>

    <div>
      <a routerLink="/login" class="home-hero-login">
        I already have an account
      </a>
    </div>
  </section>

  <section class="home-features">
    <div class="auth-card home-feature-card">
      <div class="home-feature-icon">🎯</div>
      <h2>Set Clear Goals</h2>
      <p>Define realistic targets with amounts and deadlines.</p>
    </div>

    <div class="auth-card home-feature-card">
      <div class="home-feature-icon">📈</div>
      <h2>Smart Savings Plans</h2>
      <p>Generate weekly or monthly savings plans automatically.</p>
    </div>

    <div class="auth-card home-feature-card">
      <div class="home-feature-icon">🛡️</div>
      <h2>Track Progress</h2>
      <p>Monitor your journey with simple, visual dashboards.</p>
    </div>
  </section>

</div>
